<!DOCTYPE html>
	<head>
		<title>Postcodes!</title>
		{% load static %}
		{% block mapheader %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css'%}?{% now 'u' %}">
	</head>

<body>
	<h1>Postcodes R Us</h1>
	<form action="/" method="POST">
		{% csrf_token %}
		<label for="postcode">Enter a Postcode</label><br>
		<input type="text" name="postcode_input"><br>
		<input type="submit" value="Submit">

	</form>
	<p>{{postcode }}</p>
	<br><br>
	{% block mapdiv %}{% endblock %}
	{% block mapscript %} {% endblock %}
</body>


